################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AndLogger/AndLogger/bin/Debug
/AndLogger/AndLogger/obj/Debug
